@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility flex-center {
  @apply flex justify-center items-center;
}
@utility my-container {
  @apply mx-auto w-[92vw] min-[390px]:w-[95vw]  sm:w-[620px] md:w-[740px] lg:w-[980px] xl:w-[1240px] 2xl:w-[1440px] min-[100rem]:w-[1640px];
}
@utility my-container-padding {
  @apply mx-auto w-[92vw] min-[390px]:w-[95vw]  sm:w-[620px] md:w-[740px] lg:w-[980px] xl:w-[1240px] 2xl:w-[1440px] min-[100rem]:w-[1640px];
}
@utility animate-pulse-slow {
  animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@utility animate-float-slow {
  animation: float 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animate-slide {
  animation-name: slide;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}
@keyframes slideDown {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.scrollbar-hidden::-webkit-scrollbar {
  width: 0px; /* Adjust width of the scrollbar */
  height: 0px; /* Adjust height for horizontal scrollbar */
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}

@theme {
  --breakpoint-3xl: 100rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--accent-foreground);
  --color-sidebar-accent: var(--accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--background);
  --color-sidebar: var(--primary);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background-mockup: var(--background-mockup);
  --color-foreground-mockup: var(--secondary-mockup);
  --color-primary-mockup: var(--primary-mockup);
  --color-text-mockup: var(--text-mockup);
  --color-secondary-mockup: var(--secondary-mockup);
  --color-accent-mockup: var(--accent-mockup);
}

:root {
  --background: oklch(97.74% 0.0042 236.5);
  --foreground: oklch(0% 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.48 0.1455 266.53);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.57 0.174 266.53);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(93.86% 0.0202 238.67);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --background-mockup: #f4f4f4;
  --secondary-mockup: #000000;
  --primary-mockup: #155e95;
  --text-mockup: #f4f4f4;
  /* --secondary-mockup: oklch(69.58% 0.0807 241.98); */
  --accent-mockup: oklch(93.86% 0.0202 238.67);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.backgroundMesh {
  clip-path: polygon(0 0, 100% 0, 100% 27%, 0 83%);
  --_gradient-blend-mode: normal;
  --_gradient-blur: 0px;

  background:
    radial-gradient(at 3% 36%, #2550c4 0px, transparent 50%),
    radial-gradient(
      at 81.59582699666356% 9.31692164694131%,
      #633ac2 0px,
      transparent 50%
    ),
    radial-gradient(at 10% 92%, #248ab3 0px, transparent 50%),
    radial-gradient(at 10% 10%, #455de6 0px, transparent 50%),
    radial-gradient(
      at 92.72253067802677% 78.11605938907914%,
      #32c3fc 0px,
      transparent 50%
    ),
    radial-gradient(
        at 52.12509832710695% 77.40126315279718%,
        #420de0 0px,
        transparent 50%
      )
      #2d36ae;
  mix-blend-mode: var(--_gradient-blend-mode);

  opacity: 0.95;
  background-size: 200% 200%;
  animation: gradientan 8s linear infinite;
}
/* Large devices (desktops, 1024px and up) */
@media (max-width: 1600px) {
  .backgroundMesh {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
  }
}
@media (max-width: 600px) {
  .backgroundMesh {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 70%);
    background:
      radial-gradient(
        at 51.72413603228304% 67.0367177267089%,
        #3d6beb 0px,
        transparent 50%
      ),
      radial-gradient(
        at 15.737770071838058% 11.461310355787166%,
        #7a4fe0 0px,
        transparent 50%
      ),
      radial-gradient(at 12% 95%, #248ab3 0px, transparent 50%),
      radial-gradient(at 89% 53%, #455de6 0px, transparent 50%),
      radial-gradient(
        at 73.77706224759753% 70.96809702625963%,
        #32c3fc 0px,
        transparent 50%
      ),
      radial-gradient(
        at 88.6126671560818% 13.784398123703506%,
        #4492db 0px,
        transparent 50%
      ),
      radial-gradient(
          at 6.214915569770444% 23.076749195368876%,
          #1156f7 0px,
          transparent 50%
        )
        #4c52e6;
    opacity: 0.9;
    background-size: 200% 200%;
    animation: gradientan 8s linear infinite;
  }
}
.noise {
  background-image: var(--_noise-texture);
  background-size: var(--_noise-size);
  background-position: center;
  background-repeat: repeat;
}

.frosted-backdrop {
  backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
  -webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%)
    brightness(100%);
}

@keyframes gradientan {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  /* width: 3em;
  height: 3em; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 0.2em solid;
  border-color: var(--primary) var(--primary) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1.6s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 0.2em solid;
  /* border: 0.2em solid; */
  border-color: transparent transparent var(--foreground)
    var(--foreground);
  width: 95%;
  height: 95%;
  /* width: 2.4em;
  height: 2.4em; */
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.55s linear infinite;
  transform-origin: center center;
}
.loader::before {
  /* width: 1.8em;
  height: 1.8em; */
  width: 80%;
  height: 80%;
  border-color: var(--primary) var(--primary) transparent transparent;
  animation: rotation 2.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
